body{
background: linear-gradient(90deg, #17d4ca, #15debf, #39e7ae, #5fef98, #85f57f, #acfa62, #d4fc43, #fffb1c);
color: white;
font-family: sans-serif;
margin: 0;
text-align: center;
}




section{
  margin: 2rem;
}

a{
  color:#184d47;
}

p{
  color: darkgreen;
}

ul {
    color: darkgreen;
  }
/* Address has separate default style, italics need to be removed */
address{
  font-style: normal;
margin-top: 5rem;
}
/* Get in touch icons */
.icon{
  color: white;
  margin:0.5rem;
}
footer{
  margin-top: 5rem;
text-align: center;
}
/* nav styling for smaller screen sizes */

  nav{
    font-size: 2rem;
  }
  .nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }

  .nav-link {
    display: block;
    color: #184d47;
    text-align: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
  }

  .nav-link:hover:not(.active) {
    background-color:#fffb1c;
  }

  .active {
    background-color:#85f57f;
  }

/* navbar styling and text alignment for larger sizes */
@media(min-width:40rem){
  nav {
    font-size: 3rem;
  }
  .nav-item {
    float: right;
  }
  .costelloeward{
    float: left;
  }
  p{
    width: 45rem;
    margin:0 auto;
    text-align: left;
  }
  section{
    width: 45rem;
    margin:0 auto;
    text-align: left;
  }

}
